<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.no.engenett.Kolorist</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Kolorist</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>no.engenett.kolorist.farge</string>
			<key>UTTypeDescription</key>
			<string>Kolorist-farge</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>koloristfarge</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>no.engenett.kolorist.palettfarge</string>
			<key>UTTypeDescription</key>
			<string>Kolorist-palettfarge</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
